.hamburger {
  z-index: 101;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }
}

/* Ensure the hamburger button is visible */
.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Changes for proper visibility on mobile */
.hamburger {
  background-color: transparent;
  border: none;
}